<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나라 수도 맞추기 게임</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>나라 수도 맞추기 게임</h1>
      
        <form action="{{ url_for('start_game') }}" method="post">
            <button type="submit">게임 시작</button>
        </form>
        <div style="margin-top: 20px;">
            <button onclick="toggleScores()">기록 보기</button>
        </div>
        <div id="scores-table" class="hidden">
            <table>
                <thead>
                    <tr>
                        <th>순위</th>
                        <th>이름</th>
                        <th>점수</th>
                    </tr>
                </thead>
                <tbody id="scores-body">
                    <!-- 점수 데이터가 여기에 추가됩니다 -->
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
